# Virtual environment
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Static files
app/static/*
!app/static/profile_pictures/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Redis
dump.rdb

# macOS
.DS_Store

# IDE
.vscode/
.idea/